* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;    
    font-size: 2rem;
}

.card {
    padding: 30px;
    border-radius: 2rem;
    width: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.card .btn,
.card .sentence {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.sentence {
    min-height: 300px;
}

.card .one {
    min-width: 70px;    
    padding: 20px;
}

.card .two {
    padding: 20px;
}

.card textarea {
    border-radius: 0.5rem;
    width: 80%;
    font-size: 1.5rem;
    margin-left: 15px;
    padding: 5px;
    resize: none;
}

.card label {
    margin-right: 15px;
}

.card select {
    cursor: pointer;
    width: 50px;
    height: 40px;
    border-radius: 1rem;
}

.card input[type=checkbox] {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.btn-copy {
    margin-top: 30px;
    padding: 20px;
    background-color: aquamarine;
    font-size: 1.2rem;
    font-weight: 700;
    border-radius: 1rem;
    color: gray;
    text-align: center;
}

.btn-copy:hover {
    cursor: pointer;
    background-color: hsl(224, 23%, 55%);
    color: black;
}

.btn-confirm {
    margin-top: 30px;
    padding: 20px;
    width: 100px !important;
    background-color: aquamarine;
    font-size: 1.2rem;
    font-weight: 700;
    border-radius: 1rem;
    color: gray;
    text-align: center;    
}

.btn-confirm:hover {
    cursor: pointer;
    background-color: hsl(224, 23%, 55%);
    color: black;
}

li {
    list-style: none;
    float: left;
    margin-right: 10px;
}

.result__origin-kor {
    text-align: center;
}


.height-limit {
    margin: 20px 0;
    max-height: 200px;
    overflow: auto;
    align-items: unset;
}